#master{
    justify-content: center;
border: double 10px  rgb(118, 118, 179);
justify-items: center;
color:white;
width: 34rem;
border-radius: 17px 9px;
font-size: larger;
font-family: monospace;
background-image: linear-gradient(rgb(31, 233, 48),rgb(118, 118, 179));
margin-top:81px;
margin-left:45rem;
}

#error{color:red;
margin-bottom: 3px;}
h1{text-align: center;}
html{
    background-color: rgb(141, 245, 141);
}
input{
    padding:19px;
    border-radius: 12px 11px 2px 1px;
    font-family: monospace;
    display: flex;
    border-style: none;
    margin: 16px;
    outline-style: outset;
    font-size: larger;
}
#buttonClick{
    padding:12px;
    width:120px;
    color:white;
   background-color: rgb(57, 158, 57);
}

#buttonClick:hover{
    padding:12px;
    width:120px;
    color:white;
    background-image:linear-gradient(blue,rgb(218, 170, 218));
}
fieldset{border-radius: 9px 17px;}
button{border-radius: 7px 3px;
margin-top: 4px;
padding:4px;
margin: 4px auto;
display: flex;
justify-content: center;
}
#isOutPut{
    color:rgb(211, 253, 211);
       font-size: x-large;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     border: solid rgb(64, 219, 173) 1px;
    text-align:center;
    font-family: sans-serif;
}
#local,#locall{
margin: 0px auto;
    justify-content: center;
    display: flex;
}
.server{color:rgb(118,118,179);}

#each{background-color: rgba(64, 192, 64, 0.685);
    border-radius:3px;
margin: 9px;
}
#re{
    position: static;
    bottom: auto;
    background-color: rgb(205, 220, 228);
    padding: 8px;
}
#re:hover{
    position: static;
    bottom: auto;
    background-color: red;
    padding: 8px;
}
@media only screen and (max-width:760px){  

h1{text-align: center;}
html{background-color: rgb(141, 245, 141);}
#inputKey,#inputValue{
    padding:14px;
    margin: 7px;
    outline-style: none;
    border-radius: 12px 11px 2px 1px;
    font-family: monospace;
    border-style: none;
    outline-style: outset;
    font-size: larger;}
#isOutPut{
    border-radius: 12px;
    color:rgb(211, 253, 211);
    font-size: medium;
    background-color: rgb(47, 187, 70);
    text-align:center;
    
    font-family: sans-serif;   
}
#master{
    justify-content: center;
border: double 10px  rgb(118, 118, 179);
color:white;
width:fit-content;
height:max-content;
font-size: larger;
font-family: monospace;
background-image: linear-gradient(rgb(31, 233, 48),rgb(118, 118, 179));
margin-top:0px;
margin-left:0px
}

#each{
    background-color: rgb(63, 145, 46);
margin: 6px;
border-radius:13px;
}

}